/* Reset CSS */

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 

}

/* Cabeçalho: */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none; 
}

a{
    text-decoration: none;
    cursor: pointer; 
    opacity: 0.8; 
}

a:hover{
    opacity: 1; 
}

header {
    background-color: #d01a38;
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px 30px;

}
header img {
    width: 100px; 
}
header nav {
    display: flex; 
}
header li a {
    color: rgb(91, 13, 1);
    font-size: 20px;
}
header li {
    margin: 15px; 
}



     /* Título */

    .item0 {
        margin: 5px;
        height: 200px;
        text-align: center;
        font-size: 5em;
        color: yellow;
        padding: 50px;
        background-image: url(Contato2.png); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

        /* Texto */

        .item1 {
        margin: 5px;
        height: 100px;
        text-align: center;
        font-size: 1em;
        color:#fff;
        padding: 30px;
        background-color:#fff; 

        p {
            color:#d01a38;;
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
        }

        /* Instagram e Anúncio da Feira: */

        
        
        .item2 {   

            margin: 100px;
            width: 1238px;
            height: 300px;
            text-align: center;
            padding: 30px;
            background-color:#fff;
            margin: auto;
            margin-bottom: 30px;


        }
                
       
        h1 {
            color:#d01a38;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            background-color: #fff;
                
        }

        
        
        /* Mapa Google */

        .container4 {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color:#fff;

        }

        .mapBox {
            position: relative;
            width: 350px;
            height: 350px;
            background: #fff;

        }

        .mapBox iframe {
            width: 110%;
            height: 100%; 
            

        }

        /* Rodapé */ 

        .item4 {
            width: 1238px;
            margin: 5px;
            height: 33px;
            color: #b91d1d;
            background:#fff;
            text-align: center;
            font-size: 0,5em;
            margin: auto;
        }

        /* Container */

        .container {
            max-width: 1800px;
            margin: 0 auto;
            height: 1180px;
            border: 10px solid rgb(108, 15, 1);
        }

        /* Contato Menu Drop-down */

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 300px;
            
            }

        ul li {
            position: relative;
        }

        li ul {
            position: absolute;
            left: 149px;
            top: 0;
            display: none;
            }
    
        ul li a {
            display: block;
            text-decoration: none;
            color: #d01a38;
            background: #fff;
            padding: 5px;
            border: 1px solid #ccc;
        }

        /* Fix IE. Hide from IE Mac \*/
        * html ul li { float: left; }
        * html ul li a { height: 1%; }
        /* End */
        li:hover ul { display: block; }



        ul li a:hover{
            text-decoration:underline;
            font-weight: bold;
            background: #ccc; }
        
        
        #nav {

            margin:auto;
            margin-top: 50px;

        }

        

        

        


        


