/* Reset CSS */

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 

}

/* Cabeçalho: */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none; 
}

a{
    text-decoration: none;
    cursor: pointer; 
    opacity: 0.8; 
}

a:hover{
    opacity: 1; 
}

header {
    background-color: #d01a38;
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px 30px;

}
header img {
    width: 100px; 
}
header nav {
    display: flex; 
}
header li a {
    color: rgb(91, 13, 1);
    font-size: 20px;
}
header li {
    margin: 15px; 
}



     /* Título */

    .item0 {
        margin: 5px;
        height: 200px;
        text-align: center;
        font-size: 5em;
        color: yellow;
        padding: 50px;
        background-image: url(Contato2.png); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    /* Texto */

        .item1 {
        margin: 5px;
        height: 100px;
        text-align: center;
        font-size: 1em;
        color:bisque;
        padding: 30px;
        background-color:#d01a38; 

        p {
            color:bisque;
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
        }

        /* Instagram e Anúncio da Feira: */

        
        
        .item2 {   

            margin: 5px;
            width: 1238px;
            height: 300px;
            text-align: center;
            padding: 30px;
            background-color:#d01a38;


        }
                
       
        h1 {
            color:bisque;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            background-color: #d01a38;
                
        }

        
        /* Mapa Google */

        .container4 {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color:#d01a38;

        }

        .mapBox {
            position: relative;
            width: 350px;
            height: 350px;
            background: #fff;

        }

        .mapBox iframe {
            width: 110%;
            height: 100%; 
            

        }

        /* Rodapé */ 

        .item4 {
            width: 1238px;
            margin: 5px;
            height: 33px;
            color: #d01a38;
            background: bisque;
            text-align: center;
            font-size: 0,5em;
        }

        /* Container */

        .container {
            max-width: 1800px;
            margin: 0 auto;
            height: 1180px;
            border: 10px solid rgb(108, 15, 1);
        }
    
           

        


        


